# TeX stuff
*.log
*.synctex.gz
*.aux
*.bbl
*.blg
*.out
*.xml
*.toc
*.nav
*.bcf

*.zip

# ignore PDFs
*.pdf
!report.pdf

# ignore LSUN repo
lsun/

# ignore big experiment dumps from running tool
experiments/

*.pth
*.pt
*.pkl

results/
!results/readme.md
